
#uploadBtn {
    margin-top: -3px;
    margin-left: 5px;
    width: 60px;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
}

#fileTest {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.file-temp {
    position: relative;
    display: none;
    width: 300px;
    height: 31px;
}

.file-temp-item {
    position: absolute;
    top: 4px;
    height: 24px;
}

.item-more-btn {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0.5%;
    width: 10px;
    height: 10px;
    color: #777;
    cursor: pointer;
}

.item-more-btn:hover {
    border-top-color: #aaa;
}

.file-temp-name {
    display: inline-block;
    overflow: hidden;
    width: 90%;
    height: 26px;
    padding: 2px 15px 2px 5px;
    border-radius: 2px;
    background-color: #eaeaf3;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.file-temp-btn {
    position: absolute;
    display: inline-block;
    top: 4px;
    right: 11%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #ccc;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.item-more {
    position: absolute;
    overflow-y: auto;
    display: none;
    padding-left: 0;
    width: 300px;
    max-height: 150px;
    list-style: none;
}

.item-more li {
    position: relative;
    padding: 5px;
    border: 1px solid #ccc;
    border-top: none;
}
.item-more li:hover {
    background-color: #f5f5f9;
}

.file-item-more-name {
    display: inline-block;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.file-item-more-btn {
    position: absolute;
    display: inline-block;
    top: 8px;
    right: 2%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #ddd;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.file-item-more-btn:hover {
    background-color: #ccc;
}

.upload-tip {
    display: none;
    margin: 50px auto;
    text-align: center;
    font-size: 12px;
}
