@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/* Basic */

	body {
		background-image: url('images/bg.jpg');
		background-size: cover;
		-ms-behavior: url('assets/js/ie/backgroundsize.min.htc');
	}

/* Section/Article */

	section, article {
		> .last-child,
		&.last-child {
			margin-bottom: 0;
		}
	}

/* Nav */

	#nav {
		a {
			span {
				display: none !important;
			}

			&:before {
				font-size: 1.75em;
			}
		}
	}