<<<<<<< HEAD
@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/* Wrapper */

	#wrapper {
		opacity: 1.0;
	}

/* Nav */

	#nav {
		margin-top: 4em;

		a {
			opacity: 1.0;

			&:before,
			&:after {
				display: none;
			}

			span {
				top: 0;
				opacity: 1.0;

				&:after {
					display: none;
				}
			}
		}
	}

/* Panels */

	#main {
		background: none;
		box-shadow: none;
	}

	.panel {
		position: relative;
		background: #ffffff;
		box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.25);
=======
@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/* Wrapper */

	#wrapper {
		opacity: 1.0;
	}

/* Nav */

	#nav {
		margin-top: 4em;

		a {
			opacity: 1.0;

			&:before,
			&:after {
				display: none;
			}

			span {
				top: 0;
				opacity: 1.0;

				&:after {
					display: none;
				}
			}
		}
	}

/* Panels */

	#main {
		background: none;
		box-shadow: none;
	}

	.panel {
		position: relative;
		background: #ffffff;
		box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.25);
>>>>>>> 77bc2ccf7fedc8181ccc90dcb3cca77b5ddd3394
	}