@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}
input,select{font-size:12px;vertical-align:middle;}
body div{text-align:left;}
textarea,input{word-wrap:break-word;word-break:break-all;padding:0px;}
li{list-style-type:none;}
img{border:0 none;}
a{text-decoration:none;color:#333; }
a:hover{color:#1974A1; }
a:link, a:visited{color:#333;text-decoration: none;outline: none;}
a:hover{color:#0E4470;text-decoration: none;}